*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 60px;
}
.banner{
    background-image: url("images/donation7.jpg");
    background-repeat: no-repeat;
    padding-top: 15%;
    padding-left: 22%;
    padding-right: 22%;
    padding-bottom: 15%;
}
.banner-content{
    text-align: center;
    color: white;
    padding: 5px;
}
.clickable-link{
    color: white;
    font-size: 18px;
    margin-top: 25px;
    background-image: linear-gradient(rgb(209, 98, 79),rgb(217, 82, 58));
    border: none;
    padding: 2% 6%;
    border-radius: 10px;
}
.donate-centeralized{
    margin-top: 5%;
    text-align: center;
}
.flexible-container{
    display: flex;
    padding: 7%;
}
.amount{
    text-align: center;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    padding: 15px;
    background-color: azure;
}
#choice-amount-color{
    border: 2px solid orangered;
    border-radius: 4px;
    padding: 15px;
    background-color: rgb(237, 196, 196);
    
}
#input-amount{
    border: none;
    border-bottom: 2px solid gray;
    padding: 1% 20%;
}
.card-item{
    margin: 0 2%;
    padding: 2%;
    border-radius: 5px;
}
#food-card{
    background-color: rgb(189, 241, 223);
}
#shelter-card{
    background-color: antiquewhite;
}
#education-card{
    background-color: rgb(255, 246, 232);
}

.email-section{
    margin: 7% 30%;
    padding: 50px;
    background-color: rgb(255, 194, 144);
    border-radius: 10px;
}
#email-input{
    margin: 0px;
    padding: 5px;
    border: none;
    background-color: rgb(230, 230, 230);
}
#subscribe-button{
    margin: 0px;
    padding: 5px;
    border: none;
    background-color: rgb(255, 106, 77);
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 3%;
}
footer h3{
    font-family: 'Splash', cursive;
    margin-bottom: 10px;
    padding: 5px;
    color: orange;
}